<h1>This is Consultations#edit</h1>

<h2>Consultation with <%= @consultation.doctor.first_name %> <%= @consultation.doctor.last_name %></h2>
<h3><%= @consultation.doctor.specialty%></h3>


<h4>Availabilities</h4>

<ul>
  <% @consultation.doctor.availabilities.each do |availabilitiy| %>
    <li><%= availabilitiy.datetime_start %> - <%= availabilitiy.datetime_end %></li>
  <% end %>
</ul>

<%= simple_form_for @consultation do |f| %>
  <%= f.input :datetime_start %>
  <%= f.input :datetime_end %>
  <%= f.button :submit %>
<% end %>

