<h1>This is Consultations#index</h1>

<% if @user.class == Doctor %>
  <h2>Consultations to confirm</h2>

  <% if @pending_consultations.empty? %>
    <p>No consultation pending</p>
  <% else %>
    <ul>
      <% @pending_consultations.each do |consultation| %>
        <%  datetime_start = DateTime.new(consultation.availability.date_start_year, consultation.availability.date_start_month, consultation.availability.date_start_day, consultation.availability.time_start_hour, consultation.availability.time_start_minutes) %>
        <% datetime_end = DateTime.new(consultation.availability.date_end_year, consultation.availability.date_end_month, consultation.availability.date_end_day, consultation.availability.time_end_hour, consultation.availability.time_end_minutes) %>
        <%= link_to(consultation) do %>
          <li><%= consultation.user.first_name %> <%= consultation.user.last_name %></li>
          <p><%= datetime_start.strftime(" %A, %B %d, %Y, %H, %M") %></p>
          <p><%= datetime_end.strftime(" %A, %B %d, %Y, %H:%M") %></p>
          <p><%= consultation.status %></p>
        <% end %>
      <% end %>
    </ul>
  <% end %>

<% else %>
  <h2>Consultations still pending</h2>

  <% if @pending_consultations.empty? %>
    <p>No consultation pending</p>
  <% else %>
    <ul>
      <% @pending_consultations.each do |consultation| %>
        <%  datetime_start = DateTime.new(consultation.availability.date_start_year, consultation.availability.date_start_month, consultation.availability.date_start_day, consultation.availability.time_start_hour, consultation.availability.time_start_minutes) %>
        <% datetime_end = DateTime.new(consultation.availability.date_end_year, consultation.availability.date_end_month, consultation.availability.date_end_day, consultation.availability.time_end_hour, consultation.availability.time_end_minutes) %>
        <%= link_to(consultation) do %>
          <li><%= consultation.doctor.first_name %> <%= consultation.doctor.last_name %></li>
          <p><%= datetime_start.strftime(" %A, %B %d, %Y, %H, %M") %></p>
          <p><%= datetime_end.strftime(" %A, %B %d, %Y, %H:%M") %></p>
          <p><%= consultation.status %></p>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>

<h2>Next consultations</h2>

<% if @upcoming_consultations.empty? %>
  <p>No consultation planned</p>
<% else %>
  <ul>
    <% @upcoming_consultations.each do |consultation| %>
      <%  datetime_start = DateTime.new(consultation.availability.date_start_year, consultation.availability.date_start_month, consultation.availability.date_start_day, consultation.availability.time_start_hour, consultation.availability.time_start_minutes) %>
      <% datetime_end = DateTime.new(consultation.availability.date_end_year, consultation.availability.date_end_month, consultation.availability.date_end_day, consultation.availability.time_end_hour, consultation.availability.time_end_minutes) %>
      <%= link_to(consultation) do %>
        <% if @user.class == Doctor %>
          <li><%= consultation.user.first_name %> <%= consultation.user.last_name %></li>
        <% else %>
          <li><%=consultation.doctor.first_name %> <%= consultation.doctor.last_name %></li>
        <% end %>
        <p><%= datetime_start.strftime(" %A, %B %d, %Y, %H, %M") %></p>
        <p><%= datetime_end.strftime(" %A, %B %d, %Y, %H:%M") %></p>
        <p><%= consultation.status %></p>
      <% end %>
    <% end %>
  </ul>
<% end %>

<h2>Previous consultations</h2>

<% if @past_consultations.empty? %>
  <p>No consultation done yet</p>
<% else %>
  <ul>
    <% @past_consultations.each do |consultation| %>
      <%  datetime_start = DateTime.new(consultation.availability.date_start_year, consultation.availability.date_start_month, consultation.availability.date_start_day, consultation.availability.time_start_hour, consultation.availability.time_start_minutes) %>
      <% datetime_end = DateTime.new(consultation.availability.date_end_year, consultation.availability.date_end_month, consultation.availability.date_end_day, consultation.availability.time_end_hour, consultation.availability.time_end_minutes) %>
        <%= link_to(consultation) do %>
        <% if @user.class == Doctor %>
          <li><%= consultation.user.first_name %> <%= consultation.user.last_name %></li>
        <% else %>
          <li><%= consultation.doctor.first_name %> <%= consultation.doctor.last_name %></li>
        <% end %>
        <p><%= datetime_start.strftime(" %A, %B %d, %Y, %H, %M") %></p>
        <p><%= datetime_end.strftime(" %A, %B %d, %Y, %H:%M") %></p>
        <p><%= consultation.status %></p>
      <% end %>
    <% end %>
  </ul>
<% end %>

<h2>Cancelled consultations</h2>

<% if @cancelled_consultations.empty? %>
  <p>No consultation cancelled yet</p>
<% else %>
  <ul>
    <% @cancelled_consultations.each do |consultation| %>
      <%  datetime_start = DateTime.new(consultation.availability.date_start_year, consultation.availability.date_start_month, consultation.availability.date_start_day, consultation.availability.time_start_hour, consultation.availability.time_start_minutes) %>
      <% datetime_end = DateTime.new(consultation.availability.date_end_year, consultation.availability.date_end_month, consultation.availability.date_end_day, consultation.availability.time_end_hour, consultation.availability.time_end_minutes) %>
      <%= link_to(consultation) do %>

        <% if @user.class == Doctor %>
          <li><%= consultation.user.first_name %> <%= consultation.user.last_name %></li>
        <% else %>
          <li><%= consultation.doctor.first_name %> <%= consultation.doctor.last_name %></li>
        <% end %>
        <p><%= datetime_start.strftime(" %A, %B %d, %Y, %H, %M") %></p>
        <p><%= datetime_end.strftime(" %A, %B %d, %Y, %H:%M") %></p>
        <p><%= consultation.status %></p>
      <% end %>
    <% end %>
  </ul>
<% end %>
