<h1>Planning des tours de garde</h1>


<h2>Mes tours de garde à venir</h2>

<ul>
<% @user_plannings.each do |planning| %>
  <li> <%= planning.date_start %> - de <%= planning.time_start %> à <%= planning.time_end %></li>
  <%= link_to "Supprimer", planning_path(planning), method: :delete, data: {confirm: "are you sure?"} %>
<% end %>
</ul>

<%= link_to "Ajouter", new_planning_path %>

<h2>Planning général</h2>


<%= month_calendar events: @plannings do |date, plannings| %>
  <%= date %>
  <% if plannings.empty? %>
    <div>
      <p><strong>VIDE</strong></p>
    </div>
  <% else %>
    <div>
      <p>Voir</p>
    </div>
  <% end %>
<% end %>

<%= calendar number_of_days: 1, events: @plannings do |date, plannings| %>
  <%= date %>

  <% plannings.each do |planning| %>
    <div>
      <small>De <%= planning.time_start.hour %>h à <%= planning.time_end.hour %>h - <%= planning.volunteer.name %></small>
    </div>
  <% end %>
<% end %>
