<%= current_volunteer.name %>
<%= current_volunteer.first_name %>

<h1>Planning des tours de garde</h1>

<h2>Prochain créneau libre</h2>


<h2>Mes tours de garde à venir</h2>

<ul>
<% @user_plannings.each do |planning| %>
  <li> <%= planning.date_start %> - de <%= planning.time_start %> à <%= planning.time_end %></li>
  <%= link_to "Supprimer", planning_path(planning), method: :delete, data: {confirm: "are you sure?"} %>
<% end %>
</ul>

<%= link_to "Ajouter", new_planning_path %>

<h2>Planning général</h2>

<%= week_calendar events: @plannings do |date, plannings| %>
  <%= date %>
    <% 0.upto(24).each do |hour| %>
    <div class="myCell">
  <% if !plannings.empty? %>
      <% plannings.each do |planning| %>
      <% if hour === planning.time_start.hour %>
        <div>
          <small class="green">De <%= planning.time_start.hour %>h à <%= planning.time_end.hour %>h - <%= planning.volunteer.email %></small>
        </div>
      <% end %>
      <% end %>

      <% @user_plannings.each do |planning| %>
      <% if date === planning.date_start && hour === planning.time_start.hour %>
      <div class="red">
        <small>De <%= planning.date_start %>h à <%= planning.time_end.hour %>h - <%= planning.volunteer.email %></small>
      </div>
      <% end %>
      <% end %>
    
  <% end %>
    </div>
  <% end %>
<% end %>